

#topLevelContainer{
  display: flex;
  width:100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height:100%;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-top: 1em;
  background-color: rgb(237, 237, 237);
  padding-bottom: 2em;

}



#postSectionContainer{
  display: flex;
  flex-direction: column;
  width:calc(100% - 19em);
  align-items: center;
  justify-content: flex-start;
}


#friendsContainer{
  display: flex;
  flex-direction: column;
  position:fixed;
  width: 19em;
  left: calc(50% + 8em);
  padding-top: 2em
}


@media only screen and (max-width: 860px) {
  #friendsContainer {
     width: 0;
     visibility: hidden;
     
  }

  #postSectionContainer{
    width: 100%;
  }
}

#friendDivider{
  width:88%;
  margin:3em auto 1.5em auto;
  font-size: 0.8em;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
