

.postImage{
  width: 100%;
  object-fit: contain;
  
}


.sliderImage{
  width: 100%;
  object-fit: contain;
  
}

.sliderContainer{
  width:100%;

  li{
    justify-content: center;
    display: flex;
    background-color: black;
  }

  p{
    width:fit-content;
    background-color:black;
    border-radius: 1em;
    margin-right: 1em;
  }
}
